<div class="row" *ngIf="currentUser$ | async as u;">
	<div class="col-xs-8 col-xs-push-2">
		<div class="panel panel-info text-center">
			<div class="panel-heading">
				<h2>User details</h2>
			</div>
		</div>
		<div class="panel-body">
			<div class="col-xs-3 profile">
				<img [src]="u.getAvatar()">
			</div>
			<div class="col-xs-9">
				<user-detail detail="First name" [data]="u.first_name"></user-detail>
				<user-detail detail="Last name" [data]="u.last_name"></user-detail>
				<user-detail detail="Email" [data]="u.email"></user-detail>
				<user-detail detail="Birth date" [data]="u.birth_date"></user-detail>
				<user-detail detail="Member since" [data]="u.created"></user-detail>
				<user-detail detail="Status" [data]="u.status"></user-detail>
			</div>
		</div>
	</div>
</div>
