<div class="row">
	<div class="col-xs-8 col-xs-push-2">
		<div class="panel panel-danger text-center">
			<div class="panel-heading"><h2>Create account</h2></div>
			<div class="panel-body">
				<div class="col-xs-12" *ngIf="currentUser$ | async as currentUser;">
					<form id="userAddForm" class="form-horizontal" [formGroup]="userAddForm" (ngSubmit)="onSubmit()" novalidate>
						<user-edit-fields [user]="newUser" [userEditForm]="userAddForm"></user-edit-fields>
						<user-edit-fields-admin [user]="newUser" [userEditForm]="userAddForm"></user-edit-fields-admin>
						<div class="form-group text-center">
							<input type="submit" class="btn btn-danger" value="Submit" [disabled]="userAddForm.pristine">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
