<div [formGroup]="userEditForm.get('memberFields')">
	<div class="form-group">
		<div class="col-xs-5">
			<label for="firstName">Name*:</label>
		</div>
		<div class="col-xs-7">
			<div class="row">
				<div class="col-xs-6">
					<input type="text" id="firstName" placeholder="First" class="form-control" formControlName="first_name">
				</div>
				<div class="col-xs-6">
					<input type="text" id="lastName" placeholder="Last" class="form-control" formControlName="last_name">
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-5">
			<label for="email">Email*:</label>
		</div>
		<div class="col-xs-7">
			<input type="email" id="email" placeholder="Email" class="form-control" formControlName="email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-5">
			<label for="password">Password:</label>
		</div>
		<div class="col-xs-7">
			<input type="password" id="password" placeholder="Password" class="form-control" formControlName="password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-5">
			<label for="password2">Repeat password:</label>
		</div>
		<div class="col-xs-7">
			<input type="password" id="password2" placeholder="Password" class="form-control" formControlName="password2">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-5">
			<label for="birthDate">Birth date:</label>
		</div>
		<div class="col-xs-7">
			<input type="date" id="birthDate" placeholder="Birth date" class="form-control" formControlName="birth_date">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-5">
			<label for="avatar">Avatar:</label>
		</div>
		<div class="col-xs-7">
			<input id="avatar" type="file" accept="image/*" formControlName="avatar">
		</div>
	</div>
</div>

