<div class="row" *ngIf="currentUser$ | async as currentUser">
	<div class="col-xs-8 col-xs-push-2">
		<div class="panel panel-warning">
			<div class="panel-heading text-center">
				<h2>List of users</h2>
			</div>
			<div class="panel-body" data-infinite-scroll (scrolled)="loadNextRecords()">
				<div class="well" *ngFor="let u of userList">
					<div class="row">
						<div class="col-xs-5 profile text-center">
							<img [src]="u.getAvatar()">
						</div>
						<div class="col-xs-7">
							<div class="row">
								<div class="col-xs-12">
									<span class="github-fork-ribbon" title="This user is admin" *ngIf="u.isAdmin()">Admin</span>
									{{ u.first_name }} {{ u.last_name }}
								</div>
								<div class="col-xs-12">&nbsp;</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<b>{{ u.email }}</b>
								</div>
								<div class="col-xs-12">&nbsp;</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button class="btn btn-success" (click)="editProfile(u)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button class="btn btn-danger" (click)="deleteProfile(u)" *ngIf="currentUser.uuid != u.uuid">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
								<div class="col-xs-12">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 lead text-center" *ngIf="!moreRecords"><i>No more records.</i></div>
				</div>
			</div>
		</div>
	</div>
</div>
