<div class="row" *ngIf="editUser$ | async as eu;">
	<div class="col-xs-8 col-xs-push-2">
		<div class="panel panel-success text-center">
			<div class="panel-heading"><h2>Edit profile</h2></div>
			<div class="panel-body">
				<div class="col-xs-3 profile">
					 <div class="row">
						<div class="col-xs-12 text-center">
							<span class="lead">Current avatar</span>
						</div>
					 </div>
					<div class="row">
						<div class="col-xs-12">
							<img [src]="eu.getAvatar()">
						</div>
					</div>
				</div>
				<div class="col-xs-9" *ngIf="currentUser$ | async as currentUser;">
					<form id="userEditForm" class="form-horizontal" [formGroup]="userEditForm" (ngSubmit)="onSubmit()" novalidate>
						<user-edit-fields [user]="eu" [userEditForm]="userEditForm"></user-edit-fields>
						<user-edit-fields-admin *ngIf="adminView" [user]="eu" [userEditForm]="userEditForm"></user-edit-fields-admin>
						<div class="form-group text-center">
							<input type="submit" class="btn btn-success" value="Submit" [disabled]="userEditForm.pristine">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
