<div class="row">
	<div class="col-xs-12 text-center">
		<h3>User management system</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-push-3 col-xs-6 well text-center">
	<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
		<div class="form-group">
			<div class="col-xs-5">
				<label for="email">Email address*:</label>
			</div>
			<div class="col-xs-7">
				<input type="email" class="form-control" id="email" placeholder="Email" name="email"
					   ngModel>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-5">
				<label for="password">Password*:</label>
			</div>
			<div class="col-xs-7">
				<input type="password" class="form-control" id="password" placeholder="Password" name="password"
					   ngModel>
			</div>
		</div>
		<button class="btn btn-info">Submit</button>
	</form>
	</div>
</div>
