<nav class="navbar navbar-default" *ngIf="currentUser$ | async as u;">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<span *ngIf="(isAuthenticated$ | async) then loggedIn else notLoggedIn;"></span>
				<ng-template #notLoggedIn>
					<li><a routerLinkActive="active" routerLink="/login">Login<span class="sr-only">(current)</span></a></li>
				</ng-template>
				<ng-template #loggedIn>
					<li *ngIf="u.isAdmin()"><a routerLinkActive="active" [routerLink]="listUsersUrl()">List users</a></li>
					<li *ngIf="u.isAdmin()"><a routerLinkActive="active" [routerLink]="addNewUserUrl()">Add user</a></li>
				</ng-template>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="(isAuthenticated$ | async)"><a routerLinkActive="active" [routerLink]="showProfileUrl(u)">Show profile</a></li>
				<li *ngIf="(isAuthenticated$ | async)"><a routerLinkActive="active" routerLink="/users/edit">Edit profile</a></li>
				<li *ngIf="(isAuthenticated$ | async)"><a class="danger" routerLink="/logout">Logout</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-push-1">
			<app-message *ngFor="let m of messages$ | async" [message]="m.message" [category]="m.category"></app-message>
		</div>
	</div>
	<router-outlet></router-outlet>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
</div>
<div class="navbar navbar-inverse navbar-bottom">
	<div class="row">
		<div class="col-xs-12 text-center">
			User management system with Laravel &amp; Angular 4
		</div>
	</div>
</div>
